# =============== #
# Unity generated #
# =============== #
[Tt]emp/
Assets/Assets/Stylized Nature Pack/
Assets/Assets/Stylized Nature Pack.meta
[Oo]bj/
[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump

# ============ #
# Executable file and other large files #
# ============ #
*.app
*.zip
*.mp4

# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/.idea*/
.vscode/

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
